{# LOGO #}
<a class="nav-logo" href="{{ home_url }}">{% include 'partials/logo.html.twig' %}</a>

{# TOGGLE #}
<button class="nav-toggle">Menu</button>

{# PANEL #}
<nav class="nav-panel">
    
    {# PRIMARY #}
    <ul>
        {% for a in pages.children.visible %}
        <li><a class="{{ (a.active or a.activeChild) ? 'active' : '' }}" href="{{ a.url }}">{{ a.menu }}</a>
            {# SECONDARY #}
            {% if a.children.visible %}
            <ul>
                {% for b in a.children.visible %}
                <li><a class="{{ (b.active or b.activeChild) ? 'active' : '' }}" href="{{ b.url }}">{{ b.menu }}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}
        <li><a class="contact portrait" href="{{ theme.instagram_url }}">Instagram</a></li>
        <li><a class="contact portrait" href="{{ theme.phone_url }}">{{ theme.phone }}</a></li>
        <li><a class="contact portrait" href="mailto:{{ theme.email }}">{{ theme.email }}</a></li>
    </ul>
    {% include 'partials/credit.html.twig' %}
    <div class="nav-veil"></div>
</nav>

{# CONTACT #}
<div class="nav-contact landscape">
    <a href="{{ theme.phone_url }}">{{ theme.phone }}</a>
    <a href="mailto:{{ theme.email }}">{{ theme.email }}</a>
</div>

{# SOCIAL #}
<div class="nav-social landscape">
    <a href="{{ theme.instagram_url }}">Instagram</a>
</div>
