{# LOGO #}
<a class="nav-logo" href="{{ home_url }}">{% include 'partials/logo.html.twig' %}</a>

{# TOGGLE #}
<button class="nav-toggle">Menu</button>

{# PANEL #}
<nav class="nav-panel">
    <ul>

        {# PRIMARY #}
        {% for a in pages.children.visible %}
        <li><a class="{{ (a.active or a.activeChild) ? 'active' : '' }}" href="{{ a.url }}">{{ a.menu }}</a>
            {% if a.children.visible %}
            <ul>
                {% for b in a.children.visible %}
                <li><a class="{{ (b.active or b.activeChild) ? 'active' : '' }}" href="{{ b.url }}">{{ b.menu }}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}
        <li><a class="portrait" href="/">Instagram</a></li>
        <li><a class="portrait" href="/">T.(+1)555 555 5555</a></li>
        <li><a class="portrait" href="/">davidraymondraymond@gmail.com</a></li>
    </ul>
</nav>

{# CONTACT #}
<div class="nav-contact landscape">
    <a href="/">T.(+1)555 555 5555</a>
    <a href="/">davidraymondraymond@gmail.com</a>
</div>

{# SOCIAL #}
<div class="nav-social landscape">
    <a href="/">Instagram</a>
</div>